main {

    .occupation {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1.5rem max((100% - 71.25rem)/2, 4rem);

        h1 {
            margin: 0.75rem 0;
        }

    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(max(min(16rem, 100%), 33% - 1rem), 1fr));
        gap: 1rem;
        align-items: center;
        justify-content: center;
        border-top: solid 0.0625rem #000;
        padding: 1.5rem max((100% - 71.25rem)/2, 4rem);

        .card {
            display: grid;
            grid-template-rows: auto 6.75rem;
            border: solid 0.0625rem #000;
            border-radius: 0.25rem;
            transition: all 0.14s ease-out;
    
            &:hover {
                box-shadow: 0.25rem 0.25rem 0rem #000;
    
                p {
                    text-decoration: underline;
                }
            }
    
            .media-img {
                border-bottom: solid 0.0625rem #000;
                padding: 0.75rem;
    
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 0.25rem 0.25rem 0 0;
                }
            }
    
            .media-desc {
                padding: 0.75rem;
    
    
                h3 {
                    font-size: 1.25rem;
                    margin: 0;
                }
            }
        }
    }

}

@media (max-width: 900px) {

    main {
        .occupation {
            padding: 1.5rem;
        }

        .card-container {
            padding: 1.5rem;
        }
    }

}